<div class="row">
    <div class="col-md-12">
        <h1>Decision trees - basic orientation</h1>
        <p>
            Deathmatch between two AI with support of several power ups...
            <a class="label label-primary" ng-click="scroll_to('description')">Full description</a>
        </p>

    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <canvas id="gamecanvas" width="640" height="480"></canvas>
    </div>
    <div class="col-md-5">
        <h3>Game controls</h3>
        <button class="btn btn-success" ng-click="toggle_game()" ng-show="!is_game_running">Start game</button>
        <button class="btn btn-warning" ng-click="toggle_game()" ng-show="is_game_running">Stop game</button>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="player in players" class="panel panel-default player-stats">
                    <div class="panel-heading">{{player.name}}</div>
                    <div class="panel-body">
                        <p>
                            Health: <span class="badge">{{player.health}}</span><br>
                            Speed: <span class="badge">{{player.speed}}</span>
                            Damage: <span class="badge">{{player.damage}}</span>
                            Score: <span class="badge">{{player.score}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-warning">
            <div class="panel-heading">Game Log</div>
            <div class="panel-body">
                <ul class="game-log">
                    <li ng-repeat="item in game_log">
                        <span class="label label-{{item.status}}">&nbsp;</span>
                        {{item.text}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" id="description">
    <div class="col-md-6">
        <h2>Decision trees in unknown environment</h2>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Game goal</strong>
            </div>
            <div class="panel-body">
                <p>
                    The main goal is to eliminate the enemy.<br>
                    Each player starts with unexplored map, thus not knowing anything about the world around them.<br>
                    As they explore the world searching for the enemy, they may find several bonus spawn points, which will help them achieve the goal.
                </p>

                <p>Each player is able to fight with the enemy with his fists, inflicting damage
                    (<strong>5 health points</strong>). The attack is possible while standing on the tile next to the enemy.
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Bonuses</strong>
            </div>
            <div class="panel-body">
                <p>Bonuses help the player in these ways:</p>
                <ul>
                    <li><strong>Health bonus</strong> - instant +20 of players health.</li>
                    <li>
                        <strong>Speed bonus</strong> - +1 action per frame step, 5 frame steps timeout.
                    </li>
                    <li>
                        <strong>Damage bonus</strong> - +5 damage points.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Coding challenge</strong>
            </div>
            <div class="panel-body">
                <p>
                    Main goal is to implement the <strong>Decision tree</strong> to simulate behavior of the game player. 
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Decision tree status</strong>
            </div>
            <div class="panel-body">
                <p>
                    For each step, the decision tree is traversed to find first node with non empty action and this action is the final decision for the moment.
                </p>
                <p>
                    Currently implemented actions:
                </p>
                <ul>
                    <li>If can see and object
                        <ul>
                            <li>If is object consumable - consume</li>
                            <li>Else explore the map further</li>
                        </ul>
                    </li>
                    <li>Otherwise explore</li>
                </ul>
            </div>
        </div>
    </div>
</div>
