.icon-powerup-defend
    background-image: url('../images/powerups.png')
    background-position: -5px -5px 
    background-repeat: no-repeat
    width: 115px
    height: 115px
    display: block

div.player-stats
    width 120px
    margin-right 10px
    float left

ul.game-log
    list-style none        
    padding 0

div.panel
    div.panel-heading
        padding: 5px 15px

    div.panel-body
        padding: 8px